/* start of Global Var */

:root {
  --main-color: #19c8fa;
  --section-padding: 100px;
  --section-color: #f6f6f6;
  --secondary-color: #2c4755;
  --main-duration: 0.5s;
  --content-margin: 100px;
}

/* end of Global Var */

/* start of global comp */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 60px;
  position: relative;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  background-color: black;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -36px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* end of global comp */

/* start of Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  /* background-color: black; */
  color: black;
}
ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  text-decoration: none;
}

/* end of Global Rules */

/* start of header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
}

header .container .logo img {
  height: 40px;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li a {
  padding: 30px 20px;
  font-size: 14px;
  color: white;
  display: block;
  position: relative;
  z-index: 3;
  transition: 0.3s;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .container .search {
  height: 30px;
  width: 30px;
  position: relative;
  border-left: 1px solid white;
  margin-left: 15px;
}

header .container .search i {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  font-size: 20px;
}

/* end of header */

/* start of landng */
.landing {
  min-height: 100vh;
  background-color: red;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #19c8fa;
  top: 0;
  right: 0;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  background-color: rgba(25, 200, 250, 0.5);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.landing .text .context {
  width: 400px;
  color: white;
}
.landing .text .context h2 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: normal;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* end of landing */

/* start of services */
.service {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 770px) {
  .service .srv-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}

.service .srv-container .srv-box {
  display: flex;
}

.service .srv-container .srv-box i {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .service .srv-container .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }

  .service .srv-container .srv-box i {
    margin: 0 0 30px;
  }
}

.service .srv-container .srv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.service .srv-container .srv-box p {
  color: #777;
  line-height: 2;
}
/* end of services */
