/* start of Global Var */

:root {
  --main-color: #19c8fa;
  --section-padding: 60px;
  --section-color: #f6f6f6;
  --secondary-color: #2c4755;
  --main-duration: 0.5s;
  --content-margin: 100px;
}

/* end of Global Var */

/* start of Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
}
ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  text-decoration: none;
}

/* end of Global Rules */

/* start of header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
}

header .container .logo img {
  height: 40px;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li a {
  padding: 30px 20px;
  font-size: 14px;
  color: white;
  display: block;
  position: relative;
  z-index: 3;
  transition: 0.3s;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .container .search {
  height: 30px;
  width: 30px;
  position: relative;
  border-left: 1px solid white;
  margin-left: 15px;
}

header .container .search i {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  font-size: 20px;
}

/* end of header */

/* start of landng */
.landing {
  min-height: 100vh;
  background-color: red;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #19c8fa;
  top: 0;
  right: 0;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  background-color: rgba(25, 200, 250, 0.5);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.landing .text .context {
  width: 400px;
}
.landing .text .context h2 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: normal;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* end of landing */
